# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all Makefile
!*Makefile
!*Dockerfile

# Unignore all dirs
!*/

# Ignore certain extensions.
*.tgz
*.rpm
*.zip
*.pem
*.retry

# Ignore folders.
.idea
*.iml
pkg*
bin*
*vendor*
dist/
*dist*
telco_ops/services/nomad_jobs/consul_seed

# Ignore pyc files
*.pyc
__pycache__
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

public
themes

# Omit srehub docs
docs/srehub/docs
